# Supabase Configuration
VITE_SUPABASE_URL=https://xpdpsmkzdtgwrzdyecrn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhwZHBzbWt6ZHRnd3J6ZHllY3JuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxOTQ3ODEsImV4cCI6MjA4ODc3MDc4MX0.9fh693GOr76uFzUITncJ4bk1yEMhgJGuGagAXOAr18k

# Gemini API Key
GEMINI_API_KEY=
